<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome |name|,</h1>
    <p>You are invited to join our website.</p>
  </body>
</html>